<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jannat.messageapp">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WritingMessage"
            android:label="@string/title_activity_writing_message"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jannat.messageapp.MainActivity" />
        </activity>
        <activity
            android:name=".ShowSingleSentMessage"
            android:label="@string/title_activity_show_sent_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DisplayAllSentMessage"
            android:label="@string/title_activity_display_all_sent_message"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".IncomingSms"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ShowSingleReceivedMessage"
            android:label="@string/title_activity_show_single_received_message"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DisplayAllReceiveMessage"
            android:label="@string/title_activity_display_all_receive_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DisplaySentReceiveMessage"
            android:label="@string/title_activity_display_sent_receive_message"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
